div.sticker {
    float:left;
    padding:5px;
    width:70px;
    height:150px;
    justify-content:space-between;
    text-align: center;
}
.evenly {
  display:flex;
}
.clearBoth { clear:both; }


#tablink-2 {
width: 130px;
}

#tab-nav ul li.tab-2 a:link#tablink-2,
#tab-nav ul li.tab-2 a:visited#tablink-2
{
color: #fff;
border: none;
background: none;
padding: 2px 0 7px 0;
background: #09c url(http://www.uts.edu.au/images/css/tabs_active_corner2.gif) top right no-repeat;
border-left: 1px solid #fff;
}

#tab-nav ul li#group-1,
#tab-nav ul li#group-2,
#tab-nav ul li#group-3,
#tab-nav ul li#group-4
{
display: none;
}


#tab-nav ul li#group-2
{
display: block;
}

