.thumbnail {
	height: 100px;
}	

.input-group.usq-bare .input-group-addon {
  border: none;
  background-color: transparent;
  padding-left: 0px;
  padding-right: 7px;
}

/* avoid master.css changing the margins for checkboxes and radios because it conflicts with awesome-bootstrap-checkbox */ 
.radio+.radio, .checkbox+.checkbox {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* change style of placeholder */

.form-control::-webkit-input-placeholder { color: gray; }
.form-control:-moz-placeholder { color: gray; }
.form-control::-moz-placeholder { color: gray; }
.form-control:-ms-input-placeholder { color: gray; }
